<form action="/formulario" method="post">
    <p>
        Título
        <input type="text" name="titulo">
    </p>
    <p>
        Conteúdo
        <textarea name="conteudo"></textarea>
    </p>
    <p>
        <button type="submit">Enviar</button>
    </p>
</form>